# Inspecting users with different spending patterns

In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
import numpy as np
from mcc_map import convert_mcc_to_category

In [2]:
tx_df = pd.read_csv("dummy-data/credit_card_transactions-ibm_v2.csv")
tx_df["Amount"] = tx_df["Amount"].replace("[\$,]", "", regex=True).astype(float)
tx_grouped = tx_df.groupby("MCC")["Amount"].sum().sort_values(ascending=False)
tx_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [3]:
convert_mcc_to_category(tx_df)

In [4]:
tx_df.describe()

,User,Card,Year,Month,Day,Amount,Merchant Name,Zip
count,2.438690e+07,2.438690e+07,2.438690e+07,2.438690e+07,2.438690e+07,2.438690e+07,2.438690e+07,2.150876e+07
mean,1.001019e+03,1.351366e+00,2.011955e+03,6.525064e+00,1.571812e+01,4.363401e+01,-4.769230e+17,5.095644e+04
std,5.694612e+02,1.407154e+00,5.105921e+00,3.472355e+00,8.794073e+00,8.202239e+01,4.758940e+18,2.939707e+04
min,0.000000e+00,0.000000e+00,1.991000e+03,1.000000e+00,1.000000e+00,-5.000000e+02,-9.222899e+18,5.010000e+02
25%,5.100000e+02,0.000000e+00,2.008000e+03,3.000000e+00,8.000000e+00,9.200000e+00,-4.500543e+18,2.837400e+04
50%,1.006000e+03,1.000000e+00,2.013000e+03,7.000000e+00,1.600000e+01,3.014000e+01,-7.946765e+17,4.674200e+04
75%,1.477000e+03,2.000000e+00,2.016000e+03,1.000000e+01,2.300000e+01,6.506000e+01,3.189517e+18,7.756400e+04
max,1.999000e+03,8.000000e+00,2.020000e+03,1.200000e+01,3.100000e+01,1.239050e+04,9.223292e+18,9.992800e+04

In [5]:
tx_df["User"].max()

1999

### Let's look at a user with retail-heavy spending habits

In [12]:
usr = tx_df.query("User == 4")
usr.groupby("MCC")["Amount"].sum()

MCC
dining            37322.94
entertainment     84800.67
gas               69764.42
grocery          258093.62
hotel             31265.86
onlineDining       4805.03
other            575850.90
rentalCar          5501.23
retail           620776.18
transit           33759.41
travel            76850.65
Name: Amount, dtype: float64

In [13]:
usr.to_csv("dummy-data/tx-data-1.csv")

### Let's look at a user with...

In [29]:
usr = tx_df.query("User == 16")
usr.groupby("MCC")["Amount"].sum()

MCC
dining            19725.45
entertainment     28567.58
gas               84956.95
grocery           38744.70
hotel              4005.14
onlineDining        380.14
other            140709.00
rentalCar           259.58
retail            46851.51
transit          311444.63
travel            21656.80
Name: Amount, dtype: float64

In [30]:
usr.to_csv("dummy-data/tx-data-2.csv")

In [48]:
usr = tx_df.query("User == 34")
usr.groupby("MCC")["Amount"].sum()

MCC
dining           286686.16
entertainment      7203.17
gas               67045.70
grocery           81486.89
hotel             17178.68
onlineDining        437.60
other            307875.46
rentalCar           547.40
retail           142434.18
streaming         17416.91
transit           23623.25
travel            17089.43
Name: Amount, dtype: float64

In [49]:
usr.to_csv("dummy-data/tx-data-3.csv")